*.md linguist-language=C#
*.dll linguist-language=C#
*.exe linguist-language=C# 
*.json linguist-language=C# 
*.assets linguist-language=C#
*.resS linguist-language=C# 
*.sql linguist-language=C#
*.uml linguist-language=C#
*.cmd linguist-language=C#
